
<div class="card border-0" style="background: transparent;">
  <%= image_tag(@wedding.avatar, class: 'card-img-top', style: 'height: 20rem;') %>
  <div class="card-body pl-2">
    <h3 class="card-title"><%= @wedding.name %>
      <% unless @wedding.date.nil? %>
      <span class="text-muted">|</span>
      <div id="clockdiv" class="text-muted">
        <span class="days"></span> days,
        <span class="hours"></span> hours,
        <span class="minutes"></span> minutes,
        <span class="seconds"></span> seconds
      </div>
      <% end %>
    </h3>
    <% unless current_user.nil? %>
      <%= link_to 'Edit Wedding', edit_wedding_path, class: 'card-link', data: { turbolinks: false } %>
      <% if @wedding.restaurant_name.nil? || @wedding.restaurant_name.blank? %>
        <%= link_to 'Search Restaurant', search_restaurants_wedding_path, class: 'card-link', data: { turbolinks: false } %>
      <% else %>
        <%= link_to 'Search Another Restaurant', search_restaurants_wedding_path, class: 'card-link', data: { turbolinks: false } %>
      <% end %>
    <% end %>
  </div>
</div>
<% unless current_user.nil? %>
  <div class="row pl-3">
  <div class="col-4 mt-3">
   <p class="card-text">
    <%= fa_icon("user") %>
    <small class="text-muted">
      <%= link_to(pluralize(@wedding.wedding_guests.count, 'guest'), wedding_wedding_guests_path(@wedding)) %>
    </small>
  </p></div>
  <div class="col-4 mt-3">
    <p class="card-text">
      <%= fa_icon("map") %>
      <small class="text-muted">
        <%= @wedding.restaurant_name.present? ? @wedding.restaurant_name : 'Restaurant not chosen yet.' %>
      </small>
    </p></div>
    <div class="col-4 mt-3">
    <p class="card-text">
      <%= fa_icon("map-marker") %>
      <small class="text-muted">
        <%= @wedding.address.present? ? @wedding.address : 'Address not chosen yet.' %>
      </small>
    </p></div>
    <div class="col-4 mt-3">
    <p class="card-text">
      <%= fa_icon("calendar") %>
      <small class="text-muted">
        <%= @wedding.date.present? ? @wedding.date.strftime("%d-%m-%Y, %H:%M") : 'Date not chosen yet.'%>
      </small>
    </p></div>

    <% unless current_user.nil? %>
    <div class="col-4 mt-3">
      <p class="card-text">
        <%= fa_icon("money") %>
        <small class="text-muted">
          Budget:
          <% if @wedding.total_budget.present? %>
            <% if @wedding.currency == "USD" %>
              $<%= @wedding.total_budget %>
            <% elsif  @wedding.currency == "EUR" %>
              <%= @wedding.total_budget %>€
            <% else %>
              <%= @wedding.total_budget %> <%= @wedding.currency %>
            <% end %>
          <% else %>
            not set yet
          <% end %>
        </small>
      </p></div>
      <div class="col-4 mt-3">
      <p class="card-text">
        <%= fa_icon("money") %>
        <small class="text-muted">
          <% if @wedding.expenses.present? %>
            <% if @wedding.currency == "USD" %>
              <%= link_to("Total expenses: $#{ @wedding.expenses.sum(:price) }", wedding_expenses_url(@wedding)) %>
            <% elsif @wedding.currency == "EUR" %>
              <%= link_to("Total expenses: #{ @wedding.expenses.sum(:price) }€", wedding_expenses_url(@wedding)) %>
            <% else %>
              <%= link_to("Total expenses: #{ @wedding.expenses.sum(:price) }", wedding_expenses_url(@wedding)) %> <%= @wedding.currency %>
            <% end %>
          <% else %>
             <%= link_to("No expenses added yet", wedding_expenses_url(@wedding)) %>
          <% end %>
        </small>
      </p></div>
    <% end %>
  </div>
<% end %>
<h2 class="text-center text-italic mt-5">Bride & Groom</h2>

<div class="row mt-5">
  <% if @wedding.users.bride.first.present? %>
    <div class="col-6">
      <div class="text-center">
        <%= avatar_for(@wedding.users.bride.first, size: 250) %>
      </div>
      <h3 class="text-center mt-3"><%= @wedding.users.bride.first.name %></h3>
      <div class="text-muted text-italic p-5 mt-5 rounded main-application-container">
        <%= simple_format(@wedding.bride_info) %>
      </div>
  <% end %>
  </div>
  <% if @wedding.users.groom.first.present? %>
    <div class="col-6">
    <div class="text-center">
      <%= avatar_for(@wedding.users.groom.first, size: 250) %>
    </div>
      <h3 class="text-center mt-3"><%= @wedding.users.groom.first.name %></h3>
      <div class="text-muted text-italic p-5 mt-5 rounded main-application-container">
        <%= simple_format(@wedding.groom_info) %>
      </div>
    </div>
  <% end %>
</div>

<% if @wedding.full_info_filled? %>
<div class="row my-5">
  <div class="col-12">
    <h4 class="text-italic text-muted text-center rounded main-application-container p-5">
      The wedding will take place on
      <%= @wedding.date.strftime("%d-%m-%Y, %H:%M") %>,
      at <%= @wedding.restaurant_name %> (<%= @wedding.address %>).
    </h4>
  </div>
</div>
<% end %>

<div class="row mb-5">
  <div class="col-12">
  <%= hidden_field_tag("wedding_date", @wedding.date) %>

<script src="//maps.google.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

 <% unless @wedding.address.nil? || @wedding.address.blank? %>
    <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(18);
        Gmaps4Rails.map.setZoom(1);
      });
    </script>
<%end%>
</div>
</div>
